<launch>
  
  <include file="$(find-pkg-share lego_loam_bor)/launch/mcl_feature.launch" />

  <!--name argument is not required, because it will overwrite all node name in the exec-->
  <node pkg="mcl_3dl" exec="mcl_3dl" output="screen" respawn="false">
    <param from="$(find-pkg-share mcl_3dl)/config/mcl_3dl.yaml" />
  </node>

  <let name="rviz_config" value="$(find-pkg-share mcl_3dl)/rviz/mcl_3dl_demo.rviz"/>
  <node name="rviz2" pkg="rviz2" exec="rviz2" args="-d $(var rviz_config)"/>

</launch>
